@model Dreamscape.UI.ViewModels.ForgotPasswordModel

<div class="container flex-row justify-content-center align-items-center">
    <form class="form" asp-action="ForgotPassword">
        
        <h1>Reset password</h1>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form__block">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form__block">
            <button class="animated-btn" type="submit">
                <div class="flex-row justify-content-space-between align-items-center">
                    <span>Reset</span>
                    <span class="material-symbols-outlined">lock</span>
                </div>
            </button>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}