@model Dreamscape.UI.ViewModels.ResetPasswordModel;

<div class="container flex-row justify-content-center align-items-center">
    <form class="form" asp-action="ResetPassword">

        <h1>ResetPassword</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form__block">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form__block">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />

        <div class="form__block">
            <button class="animated-btn" type="submit">
                <div class="flex-row justify-content-space-between align-items-center">
                    <span>Update</span>
                    <span class="material-symbols-outlined">lock</span>
                </div>
            </button>
        </div>

    </form>
</div>