@using Dreamscape.Application.Collections

@model IEnumerable<CollectionViewModel>

<div class="collection-gallery">
    @foreach (var collection in Model)
    {
        <div class="collection">
            <div class="collection-header">

                <a asp-controller="File" asp-action="Files" asp-route-collectionId="@collection.Id">
                    <div class="collection__name">
                        @collection.Name
                    </div>
                </a>

            </div>

            <div class="tag-list">
                @foreach (var tag in collection.Tags)
                {
                    <div class="flex-row">
                        <a class="tag-list__link" asp-controller="File" asp-action="Files" asp-route-tags="@tag.Name">
                            <span class="tag-list__tag">
                                @tag.Name
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>