@using Dreamscape.Application.Users

@model UserViewModel

<div class="user-card flex-column align-items-center">

    <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.Id">
        <img class="user-card__img" src=@(Model.UserImagePath ?? "/Assets/Images/default-user-image.png") />
    </a>

    <div class="user-card__username pt-5">
        @Model.Username
    </div>

</div>