@using Dreamscape.Application.Users

@model UserViewModel

<div class="user-card flex-column align-items-center">

    <div class="user-card__img">
        <a asp-controller="User" asp-action="Uploads" asp-route-userId="@Model.Id">
            <img src=@(Model.UserProfileImagePath ?? "/Assets/Images/default-user-image.png") />
        </a>
    </div>

    <div class="user-card__username pt-5">
        @Model.Username
    </div>

</div>