@using Dreamscape.Application.Files
@using Dreamscape.Application.Files.Queries
@using WallpaperPortal.Helpers

@model PagedList<ImageFileViewModel>
@{
    ViewData["Title"] = $"Images";
}

<div class="container flex-column">

    @await Html.PartialAsync("_FileGallery", Model.Items)

    <div class="pagination-container">
        @Html.PaginationLinks(@Model)
    </div>

</div>