@using Dreamscape.Application.Users

@model UserViewModel;
@{
    ViewData["Title"] = $"{Model.Username} settings";
}

<div class="profile container flex-row">

    <div class="sidebar profile__info-sidebar">
        @await Html.PartialAsync("_UserCard", Model)
    </div>

    <div class="container">

        <div class="navigation">

            <div class="navigation__element">
                <a asp-controller="User" asp-action="Uploads" asp-route-userId="@Model.Id">
                    Uploads
                </a>
            </div>

            <div class="navigation__element">
                <a asp-controller="User" asp-action="Collections" asp-route-userId="@Model.Id">
                    Collections
                </a>
            </div>

            <div class="navigation__element navigation__selected">
                Settings
            </div>

        </div>

        <div class="navigation">
            <div class="navigation__element">
                <a asp-controller="User" asp-action="SettingsProfile">
                    Profile
                </a>
            </div>

            <div class="navigation__element navigation__selected">
                Password
            </div>
        </div>

        <div class="flex-row justify-content-center align-items-center">

            <div class="settings">

                <h2>Password settings</h2>

                <div class="settings__user-forms">

                    <form method="post" asp-controller="Authorization" asp-action="UpdatePassword">
                        <div class="user-form__fild">
                            <label>Current password</label>
                            <input type="password" name="currentPassword" />
                        </div>

                        <div class="user-form__fild">
                            <label>New password</label>
                            <input type="password" name="newPassword" />
                        </div>

                        <div class="user-form__fild">
                            <label>Confirm new password</label>
                            <input type="password" name="confirmNewPassword" />
                        </div>

                        <div class="user-form__fild">
                            <button class="animated-btn" type="submit">
                                <span>Change password</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $('form[action="/Authorization/UpdatePassword"]').submit(function (event) {
                event.preventDefault();

                var form = $(this);
                var formData = form.serialize();

                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    success: function (response) {
                        alert('Password updated successfully!');
                    },
                    error: function (response) {
                        alert('Error updating password. Please try again.');
                    }
                });
            });
                                                    });
        </script>
    }
