@using Dreamscape.UI.ViewModels

@model UpdatePasswordViewModel;
@{
    ViewData["Title"] = $"{Model.User.Username} settings";
}


<div class="profile container flex-row">

    <div class="sidebar profile__info-sidebar">
        @await Html.PartialAsync("_UserCard", Model.User)
    </div>

    <div class="container">

        <div class="navigation">

            <div class="navigation__element">
                <a asp-controller="User" asp-action="Uploads" asp-route-userId="@Model.User.Id">
                    Uploads
                </a>
            </div>

            <div class="navigation__element">
                <a asp-controller="User" asp-action="Collections" asp-route-userId="@Model.User.Id">
                    Collections
                </a>
            </div>

            <div class="navigation__element navigation__selected">
                Settings
            </div>

        </div>

        <div class="navigation">
            <div class="navigation__element">
                <a asp-controller="User" asp-action="SettingsProfile">
                    Profile
                </a>
            </div>

            <div class="navigation__element navigation__selected">
                Password
            </div>
        </div>

        <div class="flex-row justify-content-center align-items-center">

            <div class="settings">

                <h2>Password settings</h2>

                <div class="settings__user-forms">

                    <form method="post" asp-controller="User" asp-action="SettingsPassword">

                        <div class="user-form__fild">
                            <label asp-for="Password">Current password</label>
                            <input asp-for="Password" type="password" name="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="user-form__fild">
                            <label asp-for="NewPassword">New password</label>
                            <input asp-for="NewPassword" type="password" name="newPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="user-form__fild">
                            <label asp-for="ConfirmNewPassword">Confirm new password</label>
                            <input asp-for="ConfirmNewPassword" type="password" name="confirmNewPassword" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <div class="user-form__fild">
                            <button class="animated-btn" type="submit">
                                <span>Change password</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
