@using Dreamscape.Helpers;
@using Dreamscape.UI.ViewModels
@using WallpaperPortal.Helpers;

@model ManageCollectionsViewModel;
@{
    ViewData["Title"] = $"{Model.User.Username} collections";
}

@section metatags {

}

<div class="manage-collections">

    <div class="collection__list">
        @foreach (var collection in Model.Collections.Items)
        {
            <a asp-controller="File" asp-action="Files" asp-route-collectionId="@collection.Id" class="collection-link">
                <div class="collection">
                    <img src=@(collection.Files.FirstOrDefault()?.DisplaySizePath ?? "/Assets/Images/black-rectangle.png") alt="Collection Image" class="collection__image">
                    <div class="flex-row">
                        <div class="collection__info">
                            <div class="collection__description">@collection.Name</div>
                            <div class="collection__owner">@collection.Owner.Username</div>
                        </div>
                        <div class="collection__buttons">
                            <form action="your_edit_action_url" method="post" class="edit-form">
                                <button class="animated-btn" type="submit">
                                    <div class="flex-row justify-content-space-between align-items-center">
                                        <span>Edit</span>
                                        <span class="material-symbols-outlined">edit</span>
                                    </div>
                                </button>
                            </form>
                            <form asp-controller="collection" asp-action="delete" asp-route-id="@collection.Id" method="post" class="delete-form">
                                <button class="animated-btn" type="submit">
                                    <div class="flex-row justify-content-space-between align-items-center">
                                        <span>Delete</span>
                                        <span class="material-symbols-outlined">delete</span>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>

<div class="collection__create">
    <form  asp-controller="collection" asp-action="delete" asp-route-id="" method="post" class="delete-form">
        <button id="createCollectionBtn" class="animated-btn" type="submit">
            Create
        </button>
    </form>
</div>

</div>

<div id="myModal" class="modal">
    <div class="modal-content">
    </div>
</div>

@section Scripts {
    <script>

        var deleteForms = document.querySelectorAll('.delete-form');
        deleteForms.forEach(function (form) {
            form.addEventListener('submit', function (event) {
                var confirmDelete = confirm('Are you sure you want to delete this collection?');
                if (!confirmDelete) {
                    event.preventDefault();
                }
            });
        });
        var modal = document.getElementById('myModal');

        function openModal() {
            modal.style.display = 'block';
        }

        function closeModal() {
            modal.style.display = 'none';
        }

        document.getElementById('createCollectionBtn').addEventListener('click', function (event) {
            event.preventDefault();

            var collectionName = prompt('Enter collection name:');

            if (collectionName) {
                submitCreateCollectionFormAjax(collectionName);
            }
        });

        function submitCreateCollectionFormAjax(collectionName) {
            $.ajax({
                url: '/Collection/Create',
                type: 'POST',
                data: { name: collectionName },
                success: function (response) {
                    closeModal();
                    location.reload();
                },
                error: function () {
                    console.log('Error in AJAX request');
                }
            });
        }

        window.onclick = function (event) {
            if (event.target === modal) {
                closeModal();
            }
        };
    </script>
}